$clr-one: #2e323f;
$clr-two: #3b4050;
$clr-three: #f1f1f1;
$clr-four: #fff;
$clr-five: #a59678;
$clr-six: #6f737f;
$montserrat:  'Montserrat', sans-serif;
$oswald: 'Oswald', sans-serif;
$max-width: 1200px;
$desktop: 1000px;
$tablet: 700px;