*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: $oswald;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img{
    width: 100%;
}

.container {
    width: 95%;
    max-width: $max-width;
    margin: 0 auto;
}

.row {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
