@media (min-width: $tablet) {
 
  #one {
    .row {
      margin: 0 auto;
      max-width: 700px;
    }

    h1 {
      font-size: 45px;
    }

    p {
      font-size: 20px;
    }
  }

  #two {
    .row {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }
  }
  #three {
    .image {
      img {
        min-width: 552px;
        height: 300px;
      }
    }
    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 20px;

      p {
        font-size: 1rem;
      }
    }

    .box + .box {
      margin-top: 0;
    }
  }
  footer {
    .footer__title-container {
      text-align: center;
    }
    .row {
      .footerbox {
        max-width: 400px;
        margin: 0 auto;
        text-align: center;
      }

      .inner-links {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
      }
    }
  }
}

@media (min-width: $desktop) {
  

  #one {
    .row {
      display: flex;
      align-items: flex-end;
      padding-bottom: 60px;
      max-width: 100%;
      margin: 0;
    }

    h1 {
      font-size: 80px;
      margin: 0;
    }

    p {
      font-size: 25px;
    }
  }
  #two {
    .row {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  #three {
    .row {
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-gap: 100px;

      .image {
        img {
          min-width: 552px;
          height: auto;
        }
      }

      .flex {
        display: flex;
        flex-direction: column;
      }
    }
  }
  footer {
    .footer__title {
      font-family: $oswald;
      font-size: 40px;
    }

    .row {
      display: flex;
      align-items: center;

      .footerbox {
        margin: 0;
      }

      .links {
        width: 100%;
      }
    }
  }
}
